h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 2rem;
}

.table-number {
    background-color: blue;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    font-size: 3vh;
    box-sizing: border-box;
}

.table-1, .table-2, .table-3, .table-4, .table-5, .table-6, .table-7, .table-8, .table-9, .table-10 {
    width: 150px;
    background-color: pink;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table-1 h2, .table-2 h2, .table-3 h2, .table-4 h2, .table-5 h2, .table-6 h2, .table-7 h2, .table-8 h2, .table-9 h2, .table-10 h2 {
    text-align: center;
    margin-bottom: 10px;
}

.cells span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 0);
}

/*
.table-title {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    justify-items: center;
    font-size: 3vh;
}

.table-1, .table-2, .table-3, .table-4, .table-5, .table-6, .table-7, .table-8, .table-9, .table-10 {
    width: 150px;
    background-color: pink;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.table-1 h2, .table-2 h2, .table-3 h2, .table-4 h2, .table-5 h2, .table-6 h2, .table-7 h2, .table-8 h2, .table-9 h2, .table-10 h2 {
    text-align: center;
    margin-bottom: 10px;
}

.cells span {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
*/