:root {
  --bs-body-bg: #000 !important;
  --bs-primary: #ff0077 !important;
  --bs-secondary-color: #e0e0e0 !important;
  --bs-tertiary-bg: #161616 !important;

  --bs-font-title: 'Poppins' !important;
  --bs-font-paragraph: 'Poppins' !important;
}

/*
- Marrón: #140408
- Rojo: #43071a
- Marrón claro: #65474e
- Rosa medio oscuro: #a46a7a
- Rosa medio claro: #e9ded9
- Rosa claro: #eee2e4 - Rosa claro: #f2edec
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--bs-body-bg);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 * {
  font-family: var(--bs-font-title) !important;
  color: var(--bs-secondary-color) !important;
}

p {
  font-family: var(--bs-font-paragraph) !important;
  color: var(--bs-secondary-color) !important;
}


#logo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.btn {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color) !important;
  border-color: var(--bs-secondary-color) !important;
  font-weight: 600;
}

.btn:hover {
  background-color: var(--bs-secondary-color) !important;
  color: var(--bs-primary) !important;
  border-color: var(--bs-secondary-color);
  font-weight: 500;
}

.bi {
  color: var(--bs-secondary-color) !important;
}

/* Escritorio */
@media only screen and (min-width: 1024px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .home {
    margin-top: 40px;
  }
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 70px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
  }
}

/* Celulares */
@media only screen and (max-width: 767px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  #home {
    margin-top: 11px;
  }

  #services .services-body {
    margin-top: 0;
  }
}



.container {
  background-color: grey;
}



#portfolio .card-movies {
  background-image: url('img\Logo - EMME Creations.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}


#portfolio .card-emme {
  background-image: url('img\Logo - EMME Creations.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}



/*  -----------------------------------
    |             H O M E             |
    -----------------------------------  */

#home {
  position: relative;
  background-color: var(--bs-body-bg) !important;
}

#home .home-header {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color);
}

#home .card-logo {
  background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

#home .home-card {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color);
}

#home .card-tyrell {
  background-image: url('img/EMME\ Creations\ -\ Lobo\ Blanco.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  /* font: 100 5.5rem/1.2 'Poppins', sans-serif;
      text-align: center; */
}