:root {
  --bs-body-bg: #000 !important;
  --bs-primary: #ff0077 !important;
  --bs-secondary-color: #e0e0e0 !important;
  --bs-tertiary-bg: #161616 !important;
  --bs-font-title: 'Poppins' !important;
  /* --bs-font-paragraph: 'Poppins' !important; */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--bs-body-bg);
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

h1,
h2,
h3,
h4,
h5 * {
  font-family: var(--bs-font-title) !important;
  color: var(--bs-secondary-color) !important;
}

h6,
strong {
  font-family: var(--bs-font-title) !important;
  color: var(--bs-primary) !important;
  font-size: bolder !important;
}

p,
small {
  font-family: var(--bs-font-title) !important;
  color: var(--bs-secondary-color) !important;
  font-size: bolder !important;
}

/* --- SCROLL-BAR --- */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */



#logo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.btn {
  background-color: none !important;
  color: var(--bs-secondary-color) !important;
  border-color: var(--bs-secondary-color) !important;
  font-weight: 600;
}

.btn:hover {
  background-color: none !important;
  color: var(--bs-primary) !important;
  border-color: var(--bs-secondary-color);
  font-weight: 600;
}

.bi {
  color: var(--bs-secondary-color) !important;
}

/* Escritorio */
@media only screen and (min-width: 1024px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  #home {
    margin-top: 40px;
  }
}

/* Laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 70px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
  }
}

/* Celulares */
@media only screen and (max-width: 767px) {
  body {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  #home {
    margin-top: 11px;
  }

  #services .services-body {
    margin-top: 0;
  }

  footer .col, footer a, footer ul {
    justify-content: center;
  }

  footer .col {
    text-align: center;
    justify-content: center;
  }
}

/*  ---------------------------------------
    |             N A V B A R             |
    ---------------------------------------  */

nav .navbar-brand {
  color: var(--bs-secondary-color) !important;
  font-family: var(--bs-font-title) !important;
  letter-spacing: 0.06em;
  font-weight: 500;
}

nav,
nav a,
nav .nav-link {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color) !important;
  font-family: var(--bs-font-paragraph) !important;
  font-weight: 500;
}

nav .nav-link svg {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color) !important;
  font-family: var(--bs-font-paragraph) !important;
  width: 24px;
  height: 24px;
}

nav .navbar-icon svg {
  color: var(--bs-secondary-color) !important;
  height: 30px;
  cursor: pointer;
}

nav .navbar-toggler {
  color: var(--bs-secondary-color) !important;
  border-color: var(--bs-secondary-color);
  border: none;
}

/* REGISTER BUTTONS */
nav .navbar-buttons .btn,
nav .navbar-buttons .btn:hover {
  background-color: var(--bs-primary) !important;
  color: var(--bs-secondary-color) !important;
  border-color: var(--bs-secondary-color);
  font-weight: 500;
}

nav .navbar-buttons .btn:hover {
  background-color: var(--bs-secondary-color) !important;
  color: var(--bs-primary) !important;
  border-color: var(--bs-secondary-color);
  font-weight: 500;
}

/*  -----------------------------------------------
    |             T R A J E C T O R Y             |
    -----------------------------------------------  */

#trajectory .list-group .list-group-item {
  background-color: var(--bs-body-bg) !important;
  border-width: 2px;
  border-color: var(--bs-secondary-color);
}

#trajectory .list-group .list-group-item .card-title:hover {
  color: var(--bs-primary) !important;
}

#trajectory .list-group .list-group-item .list-link {
  color: var(--bs-secondary-color);
  text-decoration: none;
}

#trajectory .list-group .list-group-item small,
#trajectory .list-group .list-group-item p {
  color: var(--bs-secondary-color) !important;
}

#trajectory .list-group h5 {
  color: var(--bs-primary) !important;
}

#trajectory .list-group .list-group-item .list-link svg:hover {
  color: var(--bs-primary) !important;
}

#trajectory .list-group .list-group-item .list-link:hover {
  color: var(--bs-primary);
}

/*  -----------------------------------
    |             T E C H             |
    -----------------------------------  */

.tech-stack .tech-logos .col img {
  width: 90px;
  height: 90px;
  transition: transform 0.3s;
}

.tech-stack .tech-logos .col img:hover {
  transform: rotate(10deg) scale(1.1);
}

/*  ---------------------------------------------
    |             P O R T F O L I O             |
    ---------------------------------------------  */

#portfolio {
  position: relative;
}

#portfolio h2 {
  color: var(--bs-primary) !important;
  font-weight: 600;
}

#portfolio .portfolio-link,
#portfolio .portfolio-link svg {
  color: var(--bs-primary) !important;
  text-decoration: none;
}

#portfolio .card {
  background-color: var(--bs-tertiary-bg) !important;
  color: var(--bs-secondary-color);
}

#portfolio .card-movies {
  background-image: url('img/CAC\ Movies.jpeg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

#portfolio .card-emme {
  background-image: url('img/Logo\ -\ EMME\ Creations.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}

/*  ---------------------------------------
    |             F O O T E R             |
    ---------------------------------------  */

footer {
  font-family: var(--bs-font-title);
  color: var(--bs-secondary-color);
  justify-content: center;
  text-align: left;
}

footer .nav-link:hover {
  color: var(--bs-primary) !important;
  text-decoration: none;
}

footer .footer-logo {
  color: var(--bs-secondary-color);
  font-weight: 600;
  text-decoration: none;
}

footer .footer-logo:hover {
  color: var(--bs-primary);
  font-weight: 600;
  text-decoration: none;
}

/* Logo Icons */
footer .logo-icons .nav-link svg {
  color: var(--bs-secondary-color) !important;
}

footer .logo-icons .nav-link svg:hover {
  color: var(--bs-primary) !important;
}

/*  Social Media */
footer .social-media .nav-link svg {
  color: var(--bs-secondary-color) !important;
}

footer .social-media .nav-link svg:hover {
  color: var(--bs-primary) !important;
}
